@tailwind base;
@tailwind components;
@tailwind utilities;

.wysiwyg {

  display: flex;
  flex-direction: column;
  gap: 1rem; 

  h2, h3, h4, h5, p, li, ul, ol {
    margin: 0;
  }

  h2 {
    color: #4e41e7;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;

  }
  h3 {
    color: #444;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;

  }

  h2, 
  h3,
  h4 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    // font-weight: 400;
  }

  p, li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #444;
  }

  p + h3,
  p + h2 {
    margin-top: 2rem;
  }

}